*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
input, select, textarea{
    height: 35px;
    font-size: 16px;
    background: #F8F8F8;
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    padding: 0 10px;
    color: black;
}
input:focus, select:focus, textarea:focus{
    outline: 0;
}

.main{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    margin-bottom: 70px;
    border: 1px solid black;
}

/* Header Principal Paginas*/
.header{
    margin-bottom: 30px;
}
.header h1{
    font-weight: 600;
    font-size: 30px;
}

/* Estilo Barra de Navegação */

.headerPrincipal{
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.219);
}
.headerPrincipal .divLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.headerPrincipal nav{
    width: 80%;
    height: 30px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal nav .linkPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #16302B;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.178);
    border: 1px solid black;
}
.headerPrincipal nav .linkPrincipal a{
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerPrincipal nav .linkPrincipal:hover{
    transform: scale(1.07);
}
.headerPrincipal nav li a span:hover{
    transform: scale(1.07);
}

@media(max-width: 800px){
    .headerPrincipal{
        padding: 13px 0 13px 0;
        width: 100%;
        bottom: -3px;
        position: fixed;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.356);
    }
    .headerPrincipal .divLogo,  .divBtnOff{
        display: none;
    }
    .headerPrincipal nav{
        width: 100%;
        max-width: 100%;
        justify-content: space-around;
    }
    .headerPrincipal nav .linkPrincipal{
        width: 70px;
        height: 70px;
        position: relative;
        top: -19px;
    }
}