form header{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.divHoras{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.horario{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 0;
}
.horario input{
    min-width: 65px;
    max-width: 200px;
    color: black;
}
.horario .icon{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #EFEFEF;
}
.divButtons{
    margin-top: 25px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.divButtons a{
    font-weight: 400;
    color: #16302b;
}
.divButtons div{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.divButtons div > .btnApagar{
    color: #FC0000;
}



@media(max-width: 930px){
    .divHoras{
        gap: 0px;
    }
    .horario{
        width: 100%;
    }
}